<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">

 
<servlet>
<servlet-name>Addition</servlet-name> 
<servlet-class>com.bobzero.Addition</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Addition</servlet-name>
<url-pattern>/add</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>Hello World</servlet-name> 
<servlet-class>com.hello_world.HelloWorld</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Hello World</servlet-name>
<url-pattern>/Hello</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>calling a servlet</servlet-name> 
<servlet-class>com.calling_servlet.Calling_servlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>calling a servlet</servlet-name>
<url-pattern>/Calling</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>called  servlet</servlet-name> 
<servlet-class>com.calling_servlet.Called_servlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>called  servlet</servlet-name>
<url-pattern>/sq</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>ServletConfigContext</servlet-name> 
<servlet-class>com.servlet_config_servlet_context.Servlet_config_context</servlet-class>
<init-param>
<param-name>name</param-name>
<param-value>Bobzero</param-value>
</init-param>
</servlet>
<servlet-mapping>
<servlet-name>ServletConfigContext</servlet-name>
<url-pattern>/home</url-pattern>
</servlet-mapping>

<context-param>
<param-name>name</param-name>
<param-value>Bobzero</param-value>
</context-param>




</web-app>